body {
  margin: 3em;
  background-color:lightgrey;
  color:darkblue;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  margin: 1.5em 0;
}

h3 {
  margin: 1.5em 0;
}

code, p, li {
  font-size:1.2em;
  max-width: 40em;
  margin: 1.5em 0;
}

/* keep p elements from getting bigger in li elements */
li p {font-size:1em;}

.navlinks, .publishtime {
  font-size:.8em

}
#gotoMain {
  display: none;
}

body nav {
  display: none;
}

.visually_hidden { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
}
