body {
  margin: 3em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  margin: 2em 0;
}

h3 {
  margin: 2em 0;
}

p, li {
  max-width: 40em;
  margin: 2em 0;
}

#gotoMain {
  display: none;
}

body nav {
  display: none;
}
